In [17]:
import pandas as pd

In [18]:
ratings = pd.read_csv('co-ratings.csv')
ratings.head()

,users,ratings,route_id,name,grade,type
0,8dfba0f922c3d59ebd4cfb9e1d05c365591d1c38,4.0,119270673,Wild Arete,5.12a/b,"{'sport': True, 'tr': True}"
1,bec34299bb47603530d9e3e012530fd75ab9dd8e,4.0,119270673,Wild Arete,5.12a/b,"{'sport': True, 'tr': True}"
2,ac234798a91219e5667ccbfea2ef7dc90d5c05e8,4.0,107142013,Zebra,5.8+,{'sport': True}
3,95dc46e5b540a3a21df76aee087268510b646659,4.0,107142013,Zebra,5.8+,{'sport': True}
4,5a8f95e578f056ad023a60df69b19034d2538178,4.0,107142013,Zebra,5.8+,{'sport': True}

In [19]:
ratings.groupby(['route_id', 'name'])['ratings'].count().reset_index(name="count")

        route_id                      name  count
0      105747119            Backside Flows      2
1      105747123                 Main Flow      7
2      105747127       The Bouldering Area      6
3      105747131               Middle Flow     14
4      105747135                  The Ramp     13
...          ...                       ...    ...
18727  119398005                   Route 1      1
18728  119398098                   Route 2      1
18729  119401183  North Ridge (Kit Carson)      5
18730  119402530       Shade Tree Mechanic      3
18731  119403471        Beginner Buccaneer      3

[18732 rows x 3 columns]

In [20]:
popular = ratings.groupby(['route_id', 'name'])['ratings'].count().reset_index(name="count").sort_values(by='count', ascending=False)
popular.head(10)

       route_id                  name  count
246   105748047  East Face (Standard)   1850
368   105748490    The Bastille Crack   1842
1346  105752023               Freeway   1598
842   105750106             Rewritten   1345
304   105748268          Direct Route   1080
423   105748657       The Yellow Spur   1035
330   105748361            Wind Ridge   1001
340   105748391               Calypso    961
9146  106701638         Playin' Hooky    872
743   105749785             Animation    853

In [13]:
from surprise import Dataset, Reader, accuracy, KNNBasic
from surprise.model_selection import train_test_split, KFold

reader = Reader(rating_scale=(0, 4))
data = Dataset.load_from_df(ratings[['users', 'route_id', 'ratings']], reader)

sim_options = {'name': 'cosine', 'user_based': True, 'min_support': 4}

algo = KNNBasic(sim_options=sim_options)
kf = KFold(n_splits=5)

for trainset, testset in kf.split(data):
    algo.fit(trainset)
    predictions = algo.test(testset)
    accuracy.rmse(predictions, verbose=True)

Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.6712
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.6668
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.6705
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.6698
Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 0.6682

In [21]:
climb_name = "Freeway"

route_id = ratings[ratings['name'] == climb_name]['route_id'].iloc[1]

print("People who climbed '{}' also climbed:".format(climb_name))

predictions = algo.get_neighbors(trainset.to_inner_iid(route_id), 50)

print(predictions)

People who climbed 'Freeway' also climbed:
[83, 175, 201, 239, 349, 418, 504, 517, 532, 604, 624, 702, 719, 752, 758, 788, 864, 915, 940, 1065, 1067, 1115, 1129, 1233, 1241, 1300, 1367, 1384, 1391, 1398, 1418, 1423, 1610, 1613, 1636, 1755, 1759, 1801, 1880, 1902, 1942, 1949, 1952, 1967, 1979, 2033, 2047, 2198, 2204, 2215]

In [22]:
import numpy as np
recs = map(lambda x: trainset.to_raw_iid(x), np.asarray(predictions))

results = ratings[ratings['route_id'].isin(recs)]

r = results.pivot_table(index=['name', 'route_id', 'type', 'grade'], aggfunc=[np.mean, np.median, np.size], values='ratings')

print(r)

                                                                                    mean  \
                                                                                 ratings
name                         route_id  type                            grade
99% Pure                     105751918 {'trad': True}                  5.9      2.000000
Anguish and Fear             106126236 {'sport': True}                 5.10a    2.693694
Apes in Estrus               105760140 {'sport': True}                 5.10a    2.421053
Bitty Buttress               105748265 {'trad': True}                  5.8+     3.314655
Book  of Numbers             105763329 {'trad': True, 'sport': True}   5.12c/d  3.111111
Borgoff's Blunder            105758739 {'trad': True, 'sport': True}   5.10a    2.181818
Chimney Crack                108131535 {'trad': True, 'tr': True}      5.6      1.857143
Crack a Beer                 106250633 {'trad': True}                  5.10+    3.066667
Dash and Thrangle            105756853 {'trad': True}                  5.7      1.620690
Don't Panic                  106846244 {'trad': True}                  5.11-    1.000000
Dude, Where's My Previa?     106271567 {'trad': True}                  5.8      1.666667
El Camino Royale             105755710 {'trad': True}                  5.2      2.613636
Free Up The Weed             105764232 {'sport': True}                 5.11a/b  2.272727
Goldshut Arete               110959045 {'sport': True}                 5.11c    3.000000
Grins                        105748418 {'trad': True, 'tr': True}      5.8      2.749235
Gully Washer                 105748553 {'sport': True}                 5.9+     2.081081
Gus                          105752515 {'sport': True}                 5.10b    2.636364
Hellbender                   114158750 {'sport': True}                 5.12b    3.201550
Hodge Podge                  105760974 {'trad': True}                  5.9      1.666667
I Tawt I Taw A Puddy Tat     108766058 {'sport': True}                 5.10a    2.037037
In Your Dreams               105763029 {'sport': True}                 5.10d    2.547872
Interiors                    105788904 {'trad': True}                  5.8      3.226087
Irish Lute                   108685105 {'sport': True}                 5.8      1.666667
Joe Pontiac                  106828306 {'trad': True}                  5.7+     1.250000
Journey through Gwondonaland 105763971 {'trad': True}                  5.10a    3.600000
Just Happens                 106618869 {'sport': True}                 5.9-     2.653846
Kohlmann's Complex           105760290 {'sport': True}                 5.8+     1.774194
La-Z-Boy                     111677016 {'sport': True}                 5.10a    2.250000
Li'l Snoopy                  106592870 {'sport': True}                 5.8+     2.318584
Life On The Ranch            105757768 {'sport': True}                 5.10c    2.888889
PMS                          105754246 {'sport': True}                 5.10c    2.802260
Recess                       108442753 {'sport': True}                 5.10c    2.103448
Renounce Action              106328620 {'sport': True}                 5.10+    1.424242
Schizofrantic                105762288 {'trad': True}                  5.11b    2.764706
Snap, Crackle, Pop           106056476 {'trad': True}                  5.10     2.181818
South Crack                  105761919 {'trad': True}                  5.11     3.630435
South Ridge                  105751747 {'trad': True}                  5.6      2.414062
Spuds in Space               105757240 {'sport': True}                 5.8+     2.629310
The Art Of War               105831811 {'sport': True}                 5.10b    2.520000
The Devil's Trident          112149346 {'trad': True}                  5.10     3.312500
The Guillotine               105749068 {'trad': True}                  5.10c    2.700000
The List                     105752878 {'sport': True}                 5.10     2.567164
Threshold Of A Dream         106125224 {'sport': True}                 5.11d    2.619718
Time Traveler                105750463 {'trad': True, 'tr': True}      5.9      2.892857
Trouthead                    105761169 {'sport': True}                 5.10d    2.011628
Vitamin V                    105764184 {'sport': True}                 5.9      1.778443
Waiting for Staircase 1-3    105755995 {'sport': True}                 5.8-     2.303030
Walk of Shame                105761328 {'trad': True, 'boulder': True} 5.7      1.526316
We Don't Do Crack            106147886 {'trad': True}                  5.8      1.710526

                                                                                median  \
                                                                               ratings
name                         route_id  type                            grade
99% Pure                     105751918 {'trad': True}                  5.9         2.0
Anguish and Fear             106126236 {'sport': True}                 5.10a       3.0
Apes in Estrus               105760140 {'sport': True}                 5.10a       2.0
Bitty Buttress               105748265 {'trad': True}                  5.8+        3.0
Book  of Numbers             105763329 {'trad': True, 'sport': True}   5.12c/d     3.0
Borgoff's Blunder            105758739 {'trad': True, 'sport': True}   5.10a       2.0
Chimney Crack                108131535 {'trad': True, 'tr': True}      5.6         2.0
Crack a Beer                 106250633 {'trad': True}                  5.10+       3.0
Dash and Thrangle            105756853 {'trad': True}                  5.7         2.0
Don't Panic                  106846244 {'trad': True}                  5.11-       1.0
Dude, Where's My Previa?     106271567 {'trad': True}                  5.8         2.0
El Camino Royale             105755710 {'trad': True}                  5.2         3.0
Free Up The Weed             105764232 {'sport': True}                 5.11a/b     2.0
Goldshut Arete               110959045 {'sport': True}                 5.11c       3.0
Grins                        105748418 {'trad': True, 'tr': True}      5.8         3.0
Gully Washer                 105748553 {'sport': True}                 5.9+        2.0
Gus                          105752515 {'sport': True}                 5.10b       3.0
Hellbender                   114158750 {'sport': True}                 5.12b       3.0
Hodge Podge                  105760974 {'trad': True}                  5.9         2.0
I Tawt I Taw A Puddy Tat     108766058 {'sport': True}                 5.10a       2.0
In Your Dreams               105763029 {'sport': True}                 5.10d       3.0
Interiors                    105788904 {'trad': True}                  5.8         3.0
Irish Lute                   108685105 {'sport': True}                 5.8         2.0
Joe Pontiac                  106828306 {'trad': True}                  5.7+        1.0
Journey through Gwondonaland 105763971 {'trad': True}                  5.10a       4.0
Just Happens                 106618869 {'sport': True}                 5.9-        3.0
Kohlmann's Complex           105760290 {'sport': True}                 5.8+        2.0
La-Z-Boy                     111677016 {'sport': True}                 5.10a       2.0
Li'l Snoopy                  106592870 {'sport': True}                 5.8+        2.0
Life On The Ranch            105757768 {'sport': True}                 5.10c       3.0
PMS                          105754246 {'sport': True}                 5.10c       3.0
Recess                       108442753 {'sport': True}                 5.10c       2.0
Renounce Action              106328620 {'sport': True}                 5.10+       1.0
Schizofrantic                105762288 {'trad': True}                  5.11b       3.0
Snap, Crackle, Pop           106056476 {'trad': True}                  5.10        2.0
South Crack                  105761919 {'trad': True}                  5.11        4.0
South Ridge                  105751747 {'trad': True}                  5.6         2.0
Spuds in Space               105757240 {'sport': True}                 5.8+        3.0
The Art Of War               105831811 {'sport': True}                 5.10b       3.0
The Devil's Trident          112149346 {'trad': True}                  5.10        3.0
The Guillotine               105749068 {'trad': True}                  5.10c       3.0
The List                     105752878 {'sport': True}                 5.10        3.0
Threshold Of A Dream         106125224 {'sport': True}                 5.11d       3.0
Time Traveler                105750463 {'trad': True, 'tr': True}      5.9         3.0
Trouthead                    105761169 {'sport': True}                 5.10d       2.0
Vitamin V                    105764184 {'sport': True}                 5.9         2.0
Waiting for Staircase 1-3    105755995 {'sport': True}                 5.8-        2.0
Walk of Shame                105761328 {'trad': True, 'boulder': True} 5.7         1.0
We Don't Do Crack            106147886 {'trad': True}                  5.8         2.0

                                                                                  size
                                                                               ratings
name                         route_id  type                            grade
99% Pure                     105751918 {'trad': True}                  5.9          24
Anguish and Fear             106126236 {'sport': True}                 5.10a       111
Apes in Estrus               105760140 {'sport': True}                 5.10a        57
Bitty Buttress               105748265 {'trad': True}                  5.8+        232
Book  of Numbers             105763329 {'trad': True, 'sport': True}   5.12c/d       9
Borgoff's Blunder            105758739 {'trad': True, 'sport': True}   5.10a        11
Chimney Crack                108131535 {'trad': True, 'tr': True}      5.6          14
Crack a Beer                 106250633 {'trad': True}                  5.10+        15
Dash and Thrangle            105756853 {'trad': True}                  5.7          29
Don't Panic                  106846244 {'trad': True}                  5.11-         4
Dude, Where's My Previa?     106271567 {'trad': True}                  5.8          18
El Camino Royale             105755710 {'trad': True}                  5.2          88
Free Up The Weed             105764232 {'sport': True}                 5.11a/b      66
Goldshut Arete               110959045 {'sport': True}                 5.11c        18
Grins                        105748418 {'trad': True, 'tr': True}      5.8         327
Gully Washer                 105748553 {'sport': True}                 5.9+        111
Gus                          105752515 {'sport': True}                 5.10b        66
Hellbender                   114158750 {'sport': True}                 5.12b       129
Hodge Podge                  105760974 {'trad': True}                  5.9           3
I Tawt I Taw A Puddy Tat     108766058 {'sport': True}                 5.10a       162
In Your Dreams               105763029 {'sport': True}                 5.10d       188
Interiors                    105788904 {'trad': True}                  5.8         115
Irish Lute                   108685105 {'sport': True}                 5.8           3
Joe Pontiac                  106828306 {'trad': True}                  5.7+         12
Journey through Gwondonaland 105763971 {'trad': True}                  5.10a        20
Just Happens                 106618869 {'sport': True}                 5.9-         26
Kohlmann's Complex           105760290 {'sport': True}                 5.8+         31
La-Z-Boy                     111677016 {'sport': True}                 5.10a         8
Li'l Snoopy                  106592870 {'sport': True}                 5.8+        113
Life On The Ranch            105757768 {'sport': True}                 5.10c        18
PMS                          105754246 {'sport': True}                 5.10c       177
Recess                       108442753 {'sport': True}                 5.10c        29
Renounce Action              106328620 {'sport': True}                 5.10+        33
Schizofrantic                105762288 {'trad': True}                  5.11b        17
Snap, Crackle, Pop           106056476 {'trad': True}                  5.10         22
South Crack                  105761919 {'trad': True}                  5.11         92
South Ridge                  105751747 {'trad': True}                  5.6         128
Spuds in Space               105757240 {'sport': True}                 5.8+        116
The Art Of War               105831811 {'sport': True}                 5.10b        50
The Devil's Trident          112149346 {'trad': True}                  5.10         16
The Guillotine               105749068 {'trad': True}                  5.10c        40
The List                     105752878 {'sport': True}                 5.10        134
Threshold Of A Dream         106125224 {'sport': True}                 5.11d        71
Time Traveler                105750463 {'trad': True, 'tr': True}      5.9          28
Trouthead                    105761169 {'sport': True}                 5.10d        86
Vitamin V                    105764184 {'sport': True}                 5.9         167
Waiting for Staircase 1-3    105755995 {'sport': True}                 5.8-         33
Walk of Shame                105761328 {'trad': True, 'boulder': True} 5.7          19
We Don't Do Crack            106147886 {'trad': True}                  5.8          38

/var/folders/zc/f4mvm36553n45t7v2cf45kr00000gn/T/ipykernel_65372/4230413558.py:6: FutureWarning: The provided callable <function mean at 0x105f8f880> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  r = results.pivot_table(index=['name', 'route_id', 'type', 'grade'], aggfunc=[np.mean, np.median, np.size], values='ratings')
/var/folders/zc/f4mvm36553n45t7v2cf45kr00000gn/T/ipykernel_65372/4230413558.py:6: FutureWarning: The provided callable <function median at 0x10a0e7c40> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  r = results.pivot_table(index=['name', 'route_id', 'type', 'grade'], aggfunc=[np.mean, np.median, np.size], values='ratings')